<div class="box_div">
<h1> Thanks for entering your information, <%=first_name_input%> <%=last_name_input%>. </h1>
<h1> To summarize, your physical addresss is <%=address_input%>, <%=city_input%>, <%=state_input%>. Your zip code is <%=zip_input%>. Your three favorite numbers were <%=fav_num1%>, <%=fav_num2%> and <%=fav_num3%>. </h1>
<h1> Just so you know, the sum of your three favorite numbers is <%=fav_num1.to_i + fav_num2.to_i + fav_num3.to_i%>. </h1>
</div>